<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:site_name" content="2023년 연하장" />
  <meta name="og:title" content="2023년 연하장" />
  <meta
    name="og:description"
    content="2023년 연하장 입니다."
  />
  <meta name="og:type" content="website" />
  <meta name="keywords" content="연하장, 근하신년, 새해" />
  <meta name="author" content="홍길동" />
  <meta
    name="description"
    content="신년맞이 연하장 입니다."
  />
  <!-- <link rel="icon" href="./images/favicon/Favicon.png" /> -->
  <meta property="og:image" content="https://port-0-node-ejs-post-newyears-fyyf25lboho2ya.gksl2.cloudtype.app/images/metatitle.jpg"/>
  <title>2023년 연하장</title>
  <!-- style.css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- 구글 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
  <!-- 나눔 고딕 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <!-- Link Swiper's CSS -->
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
     <!-- 제이쿼리 -->
     <script
     src="https://code.jquery.com/jquery-3.6.1.js"
     integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
     crossorigin="anonymous"
     ></script>
</head>
<body>
<div class="wrap">
  <!-- title -->
  <div class="title">
    <div class="title-text">
      <h1>근하<br>신년</h1>
      <p>희망찬 새해<br> 행운이 가득하시기 바랍니다.</p>
    </div>
  </div><!-- title -->

  <!-- banner -->
  <div class="banner">
    <h1>인사말</h1>
    <p>새해에는 항상 건강하시고<br> 좋은 일 가득하시길 기원합니다.</p>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/images/main-banner-01.jfif" alt="1">
        </div>
        <div class="swiper-slide">
          <img src="/images/main-banner-02.png" alt="2">
        </div>
        <div class="swiper-slide">
          <img src="/images/main-banner-03.jfif" alt="3">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="banner-text">
      <p>
        다사다난했던 지난 해<br> 
        무거운 짐들은 다 털어내시고 <br>
        새로운 희망, 새로운 마음으로<br>
        새해 힘차게 출발하시기 바랍니다.<br>
        새해 복 많이 받으세요.
      </p>
    </div>
    <p class="banner-bottom-text">
      홍길동 드림
    </p>
  </div><!-- banner -->

  <!-- 게시판 -->
  <div class="notice">
    <h1>덕담 한마디</h1>
    <form action="/create" method="post">
      <label for="post"></label>
      <textarea name="post" id="post" cols="30" rows="10" placeholder="여기에 글을 작성해주세요" maxlength="225" required></textarea>
      <div class="notice-box">
        <input type="text" id="postName" name="postName" placeholder="작성자명" required>
        <input type="hidden" id="date" name="date" value="<%= today %>">
        <button type="submit">글쓰기</button>
      </div>
      
    </form>
    <div class="notice-text-list">
      <h1>덕담</h1>
      <!-- 글의 개수만큼 출력 -->
      <ul>
      <% for(let i = 0; i < posts.length; i++) { %>
        <li>
          <div class="notice-text-list-title-box">
            <div class="notice-text-list-title">
              <h2><%= postsName[i] %></h2>
              <form action="/create" method="post">
                <p id="date"><%= postsDate[i] %></p>
              </form>
              
            </div>
            <div class="notice-text-list-icon">
              <form action="/delete/<%= i %>" method="post">
                <button type="submit" id="deletebtn">
                  <img src="/images/delete-icon.png" alt="1">
                </button>
              </form>
            </div>
          </div>
          <p><%= posts[i] %></p>
        </li>
      <% } %>
      </ul>
    </div>
  </div>


  <!-- footer -->
  <footer>
    <div class="footer-box">
      <div class="footer-text">
        <p>&copy; Lee Jun Moo All Rights Reserved</p>
      </div>
    </div>
  </footer>
</div>





<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<!-- 스크롤 이벤트 -->
<script>
 $(function(){
  $(window).scroll(function(){
    let scrollY = this.scrollY;
    // let scrollX = this.scrollX;
    //console.log(scrollY);
    // console.log(scrollX);
    if (350< scrollY && scrollY < 1200) {
      $('.wrap .banner').addClass("show")
      $('.wrap .banner .banner-text').addClass("show")
    } else if (scrollY > 1260) {
      $('.wrap .banner').removeClass("show")
      $('.wrap .banner .banner-text').removeClass("show")
      //console.log('삭제');
    }  
    })
    
    
    
    /* 글쓰기 버튼 */
    $('.notice .notice-box button').on('click', function(){
      if(confirm('등록하시겠습니까?')) {
        alert('등록되었습니다.');
      } else {
        alert('취소되었습니다.')
        return false
      }
    })
    /* 휴지통 버튼 */
    $('.notice .notice-text-list ul li .notice-text-list-title-box .notice-text-list-icon #deletebtn').on('click', function(){
      if(confirm('삭제하시겠습니까?')) {
        alert('삭제되었습니다.');
      } else {
        alert('취소되었습니다.')
        return false
      }
      
    }) 
    
  });
 
  

</script>
</body>
</html>